player-connection-mode=Connect
player-connection-guid=1381035676
player-connection-debug=0
player-connection-project-name=AgroBlock
player-connection-wait-timeout=-1
player-connection-ip=10.36.227.138
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c24f617c6e874123b5653f2e1d13f7e4
